* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-size: 12px;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  margin-bottom: 0rem;
  width: 90vw;
  max-width: 740px;
  box-shadow: 1px 1px 15px gray;
  border-radius: 10px;
}

#essentials {
  display: inline-flex;
  gap: 5px;
  align-items: center;
}

#counter {
  display: flex;
  background-color: #f7786f;
  padding: 0px 5px;
  height: 20px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
}

#referrer {
  font-weight: 700;
  font-size: 1.5vw;
}

#mAaR {
  background-color: darkblue;
  padding: 5px 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-weight: bolder;
}

#topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  width: 100%;
  background-color: #1d4e89;
  padding: 0.4rem;
  justify-content: space-between;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.highlight {
  color: #334195;
  font-weight: 900;
  cursor: pointer;
}

.profile-image {
  width: 30px;
  border: 2px #a6b1e1 solid;
  border-radius: 30px;
  cursor: pointer;
}

#notifications {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

.notification {
  border-bottom: 1px #fafafa solid;
  background-color: white;
  gap: 0.5rem;
  font-size: 10px;
  padding: 0.5rem;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.notification:hover {
  background-color: #ececec;
  transition: 0.2s ease-in-out;
}

#contribution {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.info {
  align-items: center;
  gap: 5px;
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.date {
  font-size: 12px;
  color: #638475;
}

#msgText {
  display: flex;
  padding: 5px;
  border-radius: 10px;
  background-color: #c0d5e0;
  margin: 0 15px 0 15px;
  padding: 0.7rem;
  max-width: 500px;
}

.new {
  background-color: #acdde7;
  border-bottom: 1px #9ac9d3 solid;
}

.new:hover {
  background-color: #acdde7;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.markAsRead::before {
  content: url(/assets/images/eye-idle.svg);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markAsRead:hover::before {
  content: url(/assets/images/eye-hover.svg);
  box-shadow: 0px 0px 6px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.markAsRead[disabled]:hover {
  box-shadow: none;
  content: url(/assets/images/eye-idle.svg);
}

.markAsRead {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  overflow-x: hidden;
}

@media (max-width: 320px) and (max-width: 375px) {
  * {
    overflow-y: scroll;
  }

  .date {
    font-size: 8px;
  }

  .info,
  p,
  span {
    font-size: 10px;
    width: 100%;
    max-height: none;
  }

  .profile-image {
    width: 30px !important;
    height: 30px !important;
  }

  #referrer {
    font-size: 4vw;
  }

  .markAsRead {
    min-width: 30px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  #referrer {
    font-size: 3vw;
  }

  .info,
  p,
  span {
    font-size: 10px;
    width: 100%;
    max-height: none;
  }
  .date {
    font-size: 8px;
  }

  .profile-image {
    width: 30px !important;
    height: 30px !important;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  #referrer {
    font-size: 4vw;
  }
}

@media (min-width: 2560px) and (max-width: 2560px) {
  * {
    font-size: 30px;
  }

  .date {
    font-size: 25px;
  }

  .profile-image {
    width: 90px;
    height: 90px;
    border-radius: 40px;
  }

  #counter {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .markAsRead {
    width: 80px;
  }

  #msgText {
    max-width: 80%;
  }

  .container {
    max-width: 90vw;
  }

  #referrer {
    font-size: 2em;
  }

  #mAaR {
    padding: 20px;
  }

  .attribution {
    font-size: 1em;
  }
}
